@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Список учёных <a href=/Scientists/Index>здесь</a>.</p>
    <p>Список исследований <a href=/Researches/Index>здесь</a>.</p>
    <p>Список оборудования <a href=/EquipmentP/Index>здесь</a>.</p>
</div>
